
nav {
    background-color: #6543cd;
    padding: 20px 0; /* Increase padding for larger nav bar */
    width: 100%;
    height: 70px;
    position: sticky;
}

.nav-container {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.company-name {
    flex: 1;
    margin-left: -109px;
}

.company-name a {
    font-family: Hoefler Text;
    color: white;
    text-decoration: none;
    font-size: 35px; /* Increase font size for company name */
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: -108px;
    justify-content: flex-end; /* Align nav items to the right */
    flex: 1; 
}

nav ul li {
    margin: 0 9px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6643cd5f;
    border-radius: 5px;
}
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  