/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #334133;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #ddd;
}

.content {
    margin-top: 80px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #353533;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #353533;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8cb88e;
}

#preview {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    display: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

#progress-bar {
    width: 100%;
    background: #ddd;
    margin-top: 10px;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar div {
    height: 20px;
    width: 0;
    background: #285d2a;
    border-radius: 5px;
}

/* Additional Content */
.additional-content {
    margin-top: 40px;
    text-align: left;
}

.additional-content h2 {
    font-size: 28px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.additional-content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.additional-content ul {
    list-style: none;
    padding: 0;
}

.additional-content ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.additional-content ul li::before {
    content: '•';
    color: #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

/* Footer */
.footer {
    background-color: #334133;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ddd;
}